@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #fff;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic','MS UI Gothic',Helvetica,Arial,sans-serif;
}

p {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

section {
  min-height: 100vh;
  padding: 10vh 10vw;
  box-sizing: border-box;
  overflow: hidden;
}

section h2 {
  font-size: 4.7rem;
  margin: 0.3em 0 1em;
}

section > ul {
  margin: 0;
}

section > ul > li {
  font-size: 2.5rem;
  line-height: 4.5rem;
}

/* header */

header {
  position: fixed;
  width: 100vw;
  background: #fff;
  opacity: .9;
  box-shadow: 0 0 5px rgba(0 ,0 ,0, .4);
  z-index: 1;
  height: 44px;
  overflow: hidden;
  box-sizing: border-box;
}

header > nav > a {
  text-decoration: none;
  color: hsl(200, 100%, 20%);
  font-family: 'Arima Madurai', sans-serif;
  font-size: 3rem;
  margin-left: 15px;
  vertical-align: -65%;
  transition: all .2s;
}

header > nav > a:hover {
  color: hsl(200, 100%, 70%);
}

header ul {
  margin: 0 18px 0 0;
  padding: 0;
  float: right;
}

header ul > li {
  float: left;
  list-style: none;
  height: 44px;
  box-sizing: border-box;
}

header ul > li > a {
  font-family: 'Arima Madurai', sans-serif;
  display: block;
  color: hsl(200, 100%, 20%);
  text-decoration: none;
  padding: 15px 18px 10px;
  font-size: 1.6rem;
  border-color: hsl(200, 100%, 70%);
  transition: all .2s;
}

header ul > li > a:hover,
header ul > li > a.current {
  background: #f5f5f5;
  border-bottom: 3px solid hsl(200, 100%, 70%);
  padding: 15px 18px 8px;
}

header ul > li > a.current {
  color: hsl(200, 100%, 70%);
}

@media (max-width: 768px) {
  header {
    height: 38px;
  }

  header > nav > a {
    font-size: 2.5rem;
    margin-left: 10px;
  }

  header ul > li {
    height: 38px;
  }

  header ul > li > a {
    padding: 13px 16px 8px;
    font-size: 1.4rem;
  }
  
  header ul > li > a:hover,
  header ul > li > a.current {
    padding: 13px 16px 6px;
  }
}


/* main */

#main {
  text-shadow: 0 0 5px rgba(0, 0, 0, .6);
  display: table;
  margin: 0 auto;
  height: 100vh;
}

#video-background {
  z-index: -4;
  background: url('../img/star_bg.jpg') 50% /cover no-repeat;
  background-attachment: fixed;
}

#video, #video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#video {
  z-index: -3;
  transition: all .5s ease-out;
}

#video-overlay {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: -2;
}

#video-overlay > h1 {
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: 20px;
  transition: all 1.5s ease-out;
  font-family: 'Halant', serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, .9);
}

#video-overlay > img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .9);
  transition: all 1.5s ease-out;
}

#video-overlay > p {
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  #video-overlay > h1 {
    font-size: 5rem;
  }

  #video-overlay > img {
    width: 100px;
    height: 100px;
  }
}

/* skill */

#skill {
  background: black;
  opacity: 0;
  transition: all 1.5s ease-out;
}

#skill.delighter.started {
  opacity: 1;
}

#skill > .flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#skill .flex-item {
  width: calc(50% - 10px);
  border: 2px solid #333;
  border-radius: 5px;
  padding: 0 30px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

#skill .flex-item:nth-child(odd) {
  margin-right: 10px;
}

#skill .flex-item > ul > li {
  font-size: 2rem;
  line-height: 3.5rem;
}

#skill .flex-item > h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  margin: 22px 0 5px;
  background: url(../img/KZKH.jpg);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 768px) {
  #skill .flex-item {
    width: 100%;
  }
  #skill .flex-item:nth-child(odd) {
    margin-right: 0;
  }
}

/* works */

#works {
  background: hsl(230, 50%, 23%);
}

#works > h2 {
  transform: translatex(-100%);
  transition: all .7s ease-out;
}

#works.delighter.started > h2 {
  transform: none;
  transition: all .7s ease-out;
}

#works > ul > li {
  opacity: 0;
  transform: translatey(400%);
  transition: all .7s ease-out;
}

#works.delighter.started > ul > li {
  opacity: 1;
  transform: none;
}

#works.delighter.started > ul > li:nth-child(1) {
  transition: all .7s ease-out .15s;
}

#works.delighter.started > ul > li:nth-child(2) {
  transition: all .7s ease-out .35s;
}

#works.delighter.started > ul > li:nth-child(3) {
  transition: all .7s ease-out .55s;
}

#works.delighter.started > ul > li:nth-child(4) {
  transition: all .7s ease-out .75s;
}

#works.delighter.started > ul > li:nth-child(5) {
  transition: all .7s ease-out .95s;
}

/* sns */

#sns {
  background: hsl(230, 50%, 15%);
  min-height: 50vh;
}

#sns > h2 {
  opacity: 0;
  transition: all .7s ease-out;
}

#sns.delighter.started > h2 {
  opacity: 1;
}

#sns > .flex {
  display: flex;
  justify-content: space-between;
  height: calc(30vh - (54px + 47px + 14.1px));
  min-height: 100px;
}

#sns .flex-item {
  align-self: center;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(1.5);
}

#sns.delighter.started .flex-item {
  opacity: 0.8;
  transition: all .7s ease-out .35s;
  transform: none;
}

#sns .flex-item > a {
  transition: all .3s ease-out;
}

#sns .flex-item > a:hover {
  opacity: 0.6;
}

#sns .flex-item img {
  transition: all 1.2s ease-out;
  width: 100px;
  height: 100px;
}

@media (max-width: 768px) {
  #sns .flex-item img {
    width: 70px;
    height: 70px;
  }
}

/* toTheTop */

#toTheTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #fff;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  font-size: 7rem;
  text-align: center;
  cursor: pointer;
  display: none;
}

#toTheTop:hover {
  opacity: 0.5;
}

#toTheTop > i {
  text-shadow: -1px -1px 1px rgba(0, 0, 0);
  line-height: 95px;
}

@media (max-width: 768px) {
  #toTheTop {
    width: 70px;
    height: 70px;
    font-size: 5rem;
  }
  #toTheTop > i {
    line-height: 70px;
  }
}

/* progress */

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.progress-top, .progress-under {
  position: absolute;
  left: 0;
  background: #000;
  width: 100%;
  height: 50%;
  z-index: 11;
}

.progress-top {
  top: 0%;
}

.progress-under {
  top: 50%;
}

.progress-inner {
  position: absolute;
  width: 90px;
  height: 100px;
  top: calc(50% - (100px / 2));
  left: calc(50% - (90px / 2));
  z-index: 12;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: solid 7px;
  border-top-color: #00dffc;
  border-left-color: #008c9e;
  border-bottom-color: #005f6b;
  border-right-color: #343838;
  animation: spin .7s ease-in-out infinite;
  box-sizing: border-box;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-complete {
  0% {
    opacity: 1;
    border-width: 7px;
    transform: rotate(0deg);
    box-shadow: 0 0 7px rgba(0, 223, 252, .7);
  }
  40%, 75% {
    opacity: 1;
    border-width: 20px;
    transform: rotate(360deg);
    border-color: #008c9e;
  }
  100% {
    opacity: 0;
    border-width: 0px;
    border-color: #00dffc;
    box-shadow: 0 0 7px rgba(0, 223, 252, .7);
  }
}

.progress-inner p {
  text-shadow: 0 0 10px rgba(255, 255, 255, .9);
  font-family: 'Arima Madurai', sans-serif;
  color: #fff;
  font-size: 1.9rem;
  opacity: 0.6;
  text-align: left;
}

@keyframes text-complete {
  0% {
    opacity: 0.6;
    text-align: center;
  }
  50%, 80% {
    opacity: 1;
    text-align: center;
  }
  100% {
    opacity: 0;
    text-align: center;
  }
}

.progress-inner p > span {
  opacity: 0;
}

.progress-inner p > span:nth-child(1) {
  animation: dot1 .7s step-end infinite .1s;
}

.progress-inner p > span:nth-child(2) {
  animation: dot2 .7s step-end infinite .1s;
}

.progress-inner p > span:nth-child(3) {
  animation: dot3 .7s step-end infinite .1s;
}

@keyframes dot1 {
  0% {
    opacity: 0;
  }
  20%, 100% {
    opacity: 1;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }
  30%, 100% {
    opacity: 1;
  }
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }
  45%, 100% {
    opacity: 1;
  }
}